@font-face {
  font-family: 'RF Dewi Expanded';
  font-weight: 600;
  font-style: normal;
  src: local('RFDewiExpanded'), 
       url('../fonts/RFDewiExpanded-Regular.woff2') format('woff2'),
       url('../fonts/RFDewiExpanded-Regular.woff') format('woff');
  font-display: swap;
}

// @font-face {
//   font-family: 'RF Dewi Expanded';
//   font-weight: 900;
//   font-style: normal;
//   src: local('RFDewiExpanded'), 
//        url('../fonts/RFDewiExpanded-UltraBold.woff2') format('woff2'),
//        url('../fonts/RFDewiExpanded-UltraBold.woff') format('woff');
//   font-display: swap;
// }
